.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.test-class {
  /* border: 3px solid red; */
}
.test1 {
  border: 3px solid red !important;
  color: yellow !important;
}

.test2 {
  border: 1px solid blue !important;
  color: red !important;
}
