<span>use ngStyle is change specific style</span>
<div>
  <button
    #button
    [ngStyle]="buttonStyle"
    mat-raised-button
    class="test-class"
    color="primary"
    (click)="printNumber()"
  >
    Primary
  </button>
</div>

<span>use ngClass is provide template</span>
<div>
  <button
    #button
    [ngClass]="templateClass"
    mat-raised-button
    class="test-class"
    color="primary"
    (click)="change()"
  >
    Primary
  </button>
</div>
