web
<nx-standalone-header
  [border]="'3px solid grey'"
  [color]="'blue'"
  [templateStyle]="'test2'"
></nx-standalone-header>
<nx-standalone-toolbar (outputText)="getText($event)"></nx-standalone-toolbar>
<button (click)="changeNumber()">change svc number</button>
<nx-standalone-component2></nx-standalone-component2>
<router-outlet></router-outlet>
